@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Lato";
  color: #000;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #EF2912;
  background-color: #FFF;
}
.navbar h1 {
  color: #E7B717;
  text-shadow: 1px 1px #808080;
  font-size: 40px;
  font-weight: 700;
}